In [26]:
import pandas as pd
df = pd.read_csv('egg.csv')

In [27]:
df

    Unnamed: 0                                                  0
0            0  165.72535705566406,236.93824768066406,183.8832...
1            1  164.89459228515625,238.39984130859375,184.7095...
2            2  165.72535705566406,236.93824768066406,183.8832...
3            3  164.89459228515625,238.39984130859375,184.7095...
4            4  165.72535705566406,236.93824768066406,183.8832...
5            5  164.89459228515625,238.39984130859375,184.7095...
6            6  211.91297912597656,162.76708984375,236.1171417...
7            7  185.82398986816406,204.27908325195312,202.8289...
8            8  211.91297912597656,162.76708984375,236.1171417...
9            9  185.82398986816406,204.27908325195312,202.8289...
10          10  211.91297912597656,162.76708984375,236.1171417...
11          11  185.82398986816406,204.27908325195312,202.8289...

In [28]:
df['Unnamed: 0']

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
Name: Unnamed: 0, dtype: int64

In [29]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [30]:
df

                                                    0
0   165.72535705566406,236.93824768066406,183.8832...
1   164.89459228515625,238.39984130859375,184.7095...
2   165.72535705566406,236.93824768066406,183.8832...
3   164.89459228515625,238.39984130859375,184.7095...
4   165.72535705566406,236.93824768066406,183.8832...
5   164.89459228515625,238.39984130859375,184.7095...
6   211.91297912597656,162.76708984375,236.1171417...
7   185.82398986816406,204.27908325195312,202.8289...
8   211.91297912597656,162.76708984375,236.1171417...
9   185.82398986816406,204.27908325195312,202.8289...
10  211.91297912597656,162.76708984375,236.1171417...
11  185.82398986816406,204.27908325195312,202.8289...

In [31]:
df1 = df.T

In [32]:
df1

,0,1,2,3,4,5,6,7,8,9,10,11
0,"165.72535705566406,236.93824768066406,183.8832...","164.89459228515625,238.39984130859375,184.7095...","165.72535705566406,236.93824768066406,183.8832...","164.89459228515625,238.39984130859375,184.7095...","165.72535705566406,236.93824768066406,183.8832...","164.89459228515625,238.39984130859375,184.7095...","211.91297912597656,162.76708984375,236.1171417...","185.82398986816406,204.27908325195312,202.8289...","211.91297912597656,162.76708984375,236.1171417...","185.82398986816406,204.27908325195312,202.8289...","211.91297912597656,162.76708984375,236.1171417...","185.82398986816406,204.27908325195312,202.8289..."

In [8]:
df1.columns

RangeIndex(start=0, stop=12, step=1)

In [33]:
# 첫번째 사진의 output에 대해 dataframe을 생성
tmp = df1[0].str.split(",")
df2 = pd.DataFrame(data=[tmp.str.get(j) for j in range(92)], index=range(92))
df2.loc[92] = "Egg"
df2 = df2.T
df2

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
0,165.72535705566406,236.93824768066406,183.8832244873047,351.2959289550781,170.04273986816406,291.3282470703125,165.64451599121094,236.68447875976562,174.54815673828125,320.6703186035156,...,433.6263427734375,479.0953063964844,314.85577392578125,471.5277099609375,340.20281982421875,485.4476318359375,260.72808837890625,488.7210693359375,262.1106262207031,Egg

In [34]:
# 2번째 사진부터 마지막 사진까지 각각 output을 구하고 그에 대한 dataframe을 생성하면서
# 동시에 df2(첫번째 사진의 dataframe)에 이어 붙인다.
for i in range(1, len(df1.columns)):
    temp = df1[i].str.split(",")
    df3 = pd.DataFrame(data=[temp.str.get(j) for j in range(92)], index=range(92))
    df3.loc[92] = "Egg"
    df3 = df3.T
    df2 = pd.concat([df2,df3])

In [35]:
df2 = df2.reset_index(drop=True)

In [36]:
df2

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
0,165.72535705566406,236.93824768066406,183.8832244873047,351.2959289550781,170.04273986816406,291.3282470703125,165.64451599121094,236.68447875976562,174.54815673828125,320.6703186035156,...,433.6263427734375,479.0953063964844,314.85577392578125,471.5277099609375,340.20281982421875,485.4476318359375,260.72808837890625,488.7210693359375,262.1106262207031,Egg
1,164.89459228515625,238.39984130859375,184.70957946777344,356.3523864746094,168.95762634277344,296.247802734375,163.8098907470703,240.32139587402344,174.40565490722656,325.7586669921875,...,432.2795104980469,475.92401123046875,317.902099609375,468.3831481933594,343.23272705078125,482.44085693359375,263.1127014160156,483.0931091308594,266.5967102050781,Egg
2,165.72535705566406,236.93824768066406,183.8832244873047,351.2959289550781,170.04273986816406,291.3282470703125,165.64451599121094,236.68447875976562,174.54815673828125,320.6703186035156,...,433.6263427734375,479.0953063964844,314.85577392578125,471.5277099609375,340.20281982421875,485.4476318359375,260.72808837890625,488.7210693359375,262.1106262207031,Egg
3,164.89459228515625,238.39984130859375,184.70957946777344,356.3523864746094,168.95762634277344,296.247802734375,163.8098907470703,240.32139587402344,174.40565490722656,325.7586669921875,...,432.2795104980469,475.92401123046875,317.902099609375,468.3831481933594,343.23272705078125,482.44085693359375,263.1127014160156,483.0931091308594,266.5967102050781,Egg
4,165.72535705566406,236.93824768066406,183.8832244873047,351.2959289550781,170.04273986816406,291.3282470703125,165.64451599121094,236.68447875976562,174.54815673828125,320.6703186035156,...,433.6263427734375,479.0953063964844,314.85577392578125,471.5277099609375,340.20281982421875,485.4476318359375,260.72808837890625,488.7210693359375,262.1106262207031,Egg
5,164.89459228515625,238.39984130859375,184.70957946777344,356.3523864746094,168.95762634277344,296.247802734375,163.8098907470703,240.32139587402344,174.40565490722656,325.7586669921875,...,432.2795104980469,475.92401123046875,317.902099609375,468.3831481933594,343.23272705078125,482.44085693359375,263.1127014160156,483.0931091308594,266.5967102050781,Egg
6,211.91297912597656,162.76708984375,236.1171417236328,236.12237548828125,218.6267852783203,197.0297088623047,210.1284942626953,160.44232177734375,225.50286865234375,216.3026123046875,...,281.5086669921875,473.2407531738281,202.0281219482422,466.8609619140625,218.97259521484375,478.3345947265625,166.08009338378906,476.6667785644531,164.2769775390625,Egg
7,185.82398986816406,204.27908325195312,202.8289794921875,287.8487243652344,188.90708923339844,242.76324462890625,183.84408569335938,201.28988647460938,193.99732971191406,264.8845520019531,...,349.3836364746094,445.5224609375,265.8270263671875,437.9771423339844,284.2950744628906,453.6413879394531,226.009765625,451.96954345703125,223.94296264648438,Egg
8,211.91297912597656,162.76708984375,236.1171417236328,236.12237548828125,218.6267852783203,197.0297088623047,210.1284942626953,160.44232177734375,225.50286865234375,216.3026123046875,...,281.5086669921875,473.2407531738281,202.0281219482422,466.8609619140625,218.97259521484375,478.3345947265625,166.08009338378906,476.6667785644531,164.2769775390625,Egg
9,185.82398986816406,204.27908325195312,202.8289794921875,287.8487243652344,188.90708923339844,242.76324462890625,183.84408569335938,201.28988647460938,193.99732971191406,264.8845520019531,...,349.3836364746094,445.5224609375,265.8270263671875,437.9771423339844,284.2950744628906,453.6413879394531,226.009765625,451.96954345703125,223.94296264648438,Egg
10,211.91297912597656,162.76708984375,236.1171417236328,236.12237548828125,218.6267852783203,197.0297088623047,210.1284942626953,160.44232177734375,225.50286865234375,216.3026123046875,...,281.5086669921875,473.2407531738281,202.0281219482422,466.8609619140625,218.97259521484375,478.3345947265625,166.08009338378906,476.6667785644531,164.2769775390625,Egg
11,185.82398986816406,204.27908325195312,202.8289794921875,287.8487243652344,188.90708923339844,242.76324462890625,183.84408569335938,201.28988647460938,193.99732971191406,264.8845520019531,...,349.3836364746094,445.5224609375,265.8270263671875,437.9771423339844,284.2950744628906,453.6413879394531,226.009765625,451.96954345703125,223.94296264648438,Egg

In [37]:
# 최종 csv파일을 얼굴형에 맞는 이름으로 저장한다.
# 계란형 - Egg, 둥근형 - Circle, 각진형 - Angled, ...
df2.to_csv('test-egg.csv',index=False)